asgiref==3.11.1
breadability==0.1.20
certifi==2026.2.25
chardet==6.0.0.post1
charset-normalizer==3.4.4
click==8.3.1
colorama==0.4.6
crispy-bootstrap5==2024.2
Django==4.2.16
django-crispy-forms==2.1
django-environ==0.11.2
django-extensions==4.1
docopt==0.6.2
idna==3.11
joblib==1.5.3
lxml==6.0.2
nltk==3.9.1
packaging==26.0
pdf2image==1.17.0
pillow==10.4.0
psycopg2-binary==2.9.11
pycountry==26.2.16
pypdf==4.3.1
pytesseract==0.3.10
python-dateutil==2.9.0.post0
regex==2026.2.28
requests==2.32.5
six==1.17.0
sqlparse==0.5.5
sumy==0.11.0
tqdm==4.67.3
typing_extensions==4.15.0
tzdata==2025.3
urllib3==2.6.3
whitenoise==6.7.0
